body{
    background-size: 100%;
    font-family: 'Lato';
    background-color: #eee;
}
h1{
    padding: 0;
    margin: 0;
}
p{
    font-size: 18px;
}
/*-----BUTTON------*/
.down{
    margin-top: 85vh;
    margin-left: 50%;
    background-color: transparent;
    border: transparent;
    border-radius: 45%;
}
.down:hover{
    background-color: transparent;
}
.down:active{
    background-color: transparent;
}
.glyphicon, .glyphicon-chevron-down{
    color: #b22222;
}
.glyphicon:hover, .glyphicon-chevron-down:hover{
    color: #991b1b;
}
/*-----NAVBAR/HEADER-----*/
@keyFrames nav{
    0%{
        border-bottom: solid 1px white;
    }
    100%{
        border-bottom: solid 3px white;
    }
}
.navbar, .navbar-default{
    /* font-family: Josefin Sans; */
    border-radius: 0;
    border: 0;
    position: fixed;
    width: 100%;
    height: 55px;
    /*
    background-image: url(../../Portfolio/Images/Universe.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/
    /* background-color: #B22222; */
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 10;
}
.navbar .nav > li > a, .navbar-default .navbar-brand {
    color: white;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus{
    color: white;
    border-bottom: solid 1px slategray;
}
.navbar-default .navbar-brand:hover{
    color: #B1ACAC;
}
.navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus{
    color: white;
}
.navbar-default .navbar-link:hover{
    animation: nav .25s ease-in;
    animation-fill-mode: forwards;
}
.header{
    background: url("../../Portfolio/Images/RedTrianglesAgain.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    opacity: 0.98;
    z-index: -2;
    position: relative;
}
.headerOther{
    background: url("../../Portfolio/Images/RedTrianglesAgain.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    opacity: 0.98;
    z-index: -2;
    position: relative;
}
.jumbotron{
    background-color: rgba(238, 238, 238, 0.65);
    position: absolute;
    margin-top: 100px;
}
.well-sm{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*-----TITLE ANIMATION-----*/
.titleName{
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    font-family: 'Courier New';
}
.titleName h1 {
    overflow: hidden; 
    border-right: .15em solid white; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .1em;
    animation: 
        typing 3.5s steps(40, end),
        blinking .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blinking {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
.titleName a{
    color:#fff; 
    text-decoration: none;
    font-size: 36px;
}
/*-----CONTENT-----*/
.container{
}
.space{
    height: 75px;
    float: bottom;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Images/RedTrianglesAgain.jpg");
}
.about{
    background-color:#383737;
    height: 500px;
    width: 50vw;
    border-radius: 10px;
    font-family: 'Courier New';
    color: white;
    margin-top: -150px;
    padding: 20px;
    z-index: -1;
    -webkit-box-shadow: 0px -1px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 20px -1px rgba(0,0,0,0.75);
    margin-bottom: 50px;
    position: relative;
    border-top: solid 15px #eee;
}
.jumbotron h1{
    font-size: 54px;
}
.jumbotron p{
    font-size: 18px;
    padding: 15px;
}
.row h3, .well h3{
    padding-left: 15px;
    font-size: 22px;
}
ul{
    list-style: none;
}
.row p, .well p{
    font-size: 16px;
    padding-left: 15px;
}
.row h4, .well h4{
    font-size: 18px;
}
/* .project-background{
    padding: 0;
    height: 300px;
}
.project{
    background-color: gray;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    color: white;
}
.project-background a{
    text-decoration: none;
}
.project:hover{
    animation: opacity 1s;
    box-shadow: 1px 1px;
    animation-fill-mode: forwards;
}
.project-1{
    background-image: url(../../Portfolio/Images/website-1.PNG);
    background-size: 100% 100%;
    position: relative;
}
.project-2{
     background-image: url(../../Portfolio/Images/website-2.PNG);
     background-size: 100% 100%;
}
.project-3{
    background-image: url(../../Portfolio/Images/website-3.PNG);
    background-size: 100% 100%;
}
.project-4{
    background-image: url(../../Portfolio/Images/website-4.PNG);
    background-size: 100% 100%;
}
.project-5{
    background-image: url(../../Portfolio/Images/website-5.PNG);
    background-size: 100% 100%;
}
.project-6{
    background-image: url(../../Portfolio/Images/website-6.PNG);
    background-size: 100% 100%;
}

.animation{
    border: 0px;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.animation-5{
    background-color: transparent;
}
.project-5{
    background-color: white;
    width: 100%;
}
.style-two{
    border-color: black;
}
.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyFrames opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.60;
    }
} */
/*-----FOOTER----*/
.footer{
    padding: 15px;
    background-color: rgb(95, 96, 97);
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 475px;
    color: white;
}
.footer small, .footer a{
    color: white;
}
form{
    margin-top: 50px;
}
