body{
    background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
    padding-top: 70px;
    font-family: Lucida Sans Unicode;
}
.jumbotron-style{
    background-color: azure;
}
.container{
    /*background-color: #D6FFFD;*/
    padding: 10px;
}
.well{
    background-color: #D6FFFD;
}
.well-inv{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.infoBox{
    padding: 5px;
}
.table-hover>tbody>tr:hover{
    background-color: #8BD7D2;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid darkcyan;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid darkcyan;
}
.footer{
   background-color: #86BBD8;
}

