body{
    font-family: "Raleway";
    background-color: gainsboro;
     margin-left:auto;
    margin-right:auto;
    width: 1250px;
}
p{
    font-family: "Ubuntu";
}
div{
    /*border: black solid 1px;*/
}
/*----------NAVBAR----------*/
.navbar{
	width: 310px;
	height: 100%;
	position: fixed;
	float: left;
    background-color: #0C361E;
    left: 0;
    top: 0;
}
.navbar ul{  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar li{
    display: block;
    list-style: none;
    float: left;
    text-align: center, justify;
    margin-bottom: 10px;
    width: 100%;
}
.navbar a{
    display: block;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    color: #467A5D;
}
.navbar li:hover{
    text-decoration: none;
    background-color: #467A5D; 
}
.navlinks:hover{
    color: #0C361E;
}
.logo a:hover{
    color: darkseagreen;
}
/*----------HEADER-----------*/
.logo{
    margin-bottom: 10%;
}
.infoBody{
	width: 76%; 
	height: 1550px;
	float: right;
}
.infoBody a{
    text-decoration: none;
    color: green;
}
.infoBody a:hover{
    text-decoration: underline;
}
.infoBodyMusic{
	width: 76%; 
	height: 1750px;
	float: right;
}
.infoBodyMusic a{
    text-decoration: none;
    color: green;
}
.infoBodyMusic a:hover{
    text-decoration: underline;
}
.info{
    margin-left: 4%;
	padding: 10px;
	width: 90%;
	height: 65%;
    float: left;
    background-color: #467A5D;
}
.info a{
    color: #0C361E;
}
.info a:hover{
    text-decoration: underline;
}
.header{
	margin-top: 10%;
	width: 100%;
	height: 350px;
    float: right;
    background-color: #1A4A2F;
    text-align: center;
}
.headerLeft{
    margin-top: 5%;
    margin-left: 15px;
	padding: 10px;
	width: 60%;
	height: 70%;
    float: left;
    background-color: #467A5D;
}
.headerRight{
    margin-top: 5% ;
    margin-right: 15px;
	padding: 10px;
	width: 30%;
    height: 70%;
	float: right;
}
/*----------MAIN CONTENT/ BODY----------*/
.content{
    margin-top: 55%;
    width: 100%;
    height: 1000px;
}
.row{
	margin-top: 25px;
	width: 100%;
	height: 45%;
}
audio{
    margin-bottom: 10px;
}
.content-boxLeft{
    margin-top: 15px;
    margin-right: 50px;
	padding: 10px;
	width: 40%;
	height: 90%;
    float: right;
    text-align: center;
    background-color: #1A4A2F;
}
.content-boxRight{
    margin-top: 15px;
    margin-right: 50px;
	padding: 10px;
	width: 40%;
	height: 90%;
    float: right;
    text-align: center;
    background-color: #1A4A2F;
}
.content-boxImage{
    height: 50%;
}
.about{
    margin-top: 65%;
    width: 100%;
    height: 50%;
    background-color: #1A4A2F;
    text-align: center;
    padding: 5px;
}
.aboutImage{
    margin-top: 5%;
    height: 40%;
    width: 60%;
    margin-left: 20%;
}
.aboutInfo{
    background-color: #467A5D;
    margin-top: 3%;
    padding: 15px;
    height: 35%;
    width: 90%;
    margin-left: 5%;
    text-align: justify;
}
.content-boxInfo{
    padding: 5px;
    margin-top: 5px;
    height: 30%;
    text-align: left;
    background-color: #467A5D;
}
/*----------IMAGES----------*/
.music{
    background-image: url("Images/Music.jpg");
    background-size: 100% 100%;
    opacity: 0.95;
}
.schoolMusic{
    background-image: url("Images/TVUSD.jpg");
    background-size: 100% 100%;
    opacity: 0.95;
}
.churchMusic{
    background-image: url("Images/CCC.jpg");
    background-size: 100% 100%;
    opacity: 0.95;
}
.rockBand{
    background-image: url("Images/band.jpg");
    background-size: 100% 100%;
    opacity: 0.95;
}
.CCC{
   background-image: url("Images/CCC.jpg");
    background-size: 100% 100%; 
    opacity: 0.95;
}

/*----------FOOTER-----------*/
.clearfix{
    clear: both;
}
.footer{
	margin-top: 15%;
    float: right;
	width: 77%;
	height: 170px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #313030;
    color: #467A5D;
}
#contact{
    background-color: #467A5D;
    color: #0C361E;
    width: 80%;
    margin-left: 10%;
}
.footerMusic{
	margin-top: 175%;
    float: right;
	width: 77%;
	height: 170px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #313030;
    color: #467A5D;
}
.footer a{
    color:green;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline; 
}
.footerMusic a{
    color:green;
    text-decoration: none;
}
.footerMusic a:hover{
    text-decoration: underline; 
}
.footerBox{
    margin-top: -20px;
    width: 32%;
    margin-right: 7px;
    float: right;
    height: 100%; 
}
.extraInfo{
    margin-top: 290%;
    
}


/*----------SLIDESHOW----------*/
/*At first the images in the slideshow "blink" and don't transition smoothly, 
but after the first round they should.*/

@keyframes blink {
  0% {
    background: url(Images/frenchHorn.jpg);
      background-size: 100% 100%;
  }
  14.3% {
    background: url(Images/Card.jpg);
      background-size: 100% 100%;
  }
  28.6% {
    background: url(Images/Conductor.jpg);
      background-size: 100% 100%;
  }
  42.9% {
    background: url(Images/MarchingBand.jpg);
      background-size: 100% 100%;
  }
  57.2% {
    background: url(Images/strings.jpg);
      background-size: 100% 100%;
  }
  71.5% {
    background: url(Images/violin.JPG);
      background-size: 100% 100%;
  }
  85.8% {
    background: url(Images/flute.JPG);
      background-size: 100% 100%;
  }
  100% {
    background: url(Images/frenchHorn.jpg);
      background-size: 100% 100%;
  }
}

@-webkit-keyframes blink {
  0% {
    background: url(Images/frenchHorn.jpg);
      background-size: 100% 100%;
  }
  14.3% {
    background:url(Images/Card.jpg);
      background-size: 100% 100%;
  }
  28.6% {
    background: url(Images/Conductor.jpg);
      background-size: 100% 100%;
  }
  42.9% {
    background: background: url(Images/MarchingBand.jpg);
      background-size: 100% 100%;
  }
  57.2% {
    background: url(Images/strings.jpg);
      background-size: 100% 100%;
  }
  71.5% {
    background: url(Images/violin.JPG);
      background-size: 100% 100%;
  }
  85.8% {
    background: url(Images/flute.JPG);
      background-size: 100% 100%;
  }
  100% {
    background: url(Images/frenchHorn.jpg);
      background-size: 100% 100%;
  }
}

.headerRight{
    animation: blink 20s linear infinite;
  -webkit-animation: blink 20s linear infinite;
}
