/*
OTHER COLORS
Blue 1: #28b8f4
Blue 2: #289ff4
Blue 3: #4286f4
Gray: #707a8c
*/
body{
    font-family: 'Raleway', sans-serif; 
    margin: 0;
}
/*-----NAVBAR-----*/
.spacer{
    height: 150px;
}
nav span:before, .nav span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}
nav span:before{
    left: -2.5px;
}
nav span:after {
    right: 2.5px;
    -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    background: #fff;
}
nav span:hover:before { 
    -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); 
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    width: 100%;
    background: #fff;
}
nav span:hover:after {
    background: transparent;
    -webkit-transition: 0s;
    transition: 0s;
    width: 100%;
}
nav{
    width: 100%;
    height: 125px;
    position: fixed;
    background-image: url(Images/handshake.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 15;
    opacity: .98;
}
.navButton{
    width: 0;
    height: 0;
}
nav li{
    color: white;
    text-decoration: none;
    display: block;
}
.navbarLine{
    width: 100%;
    height: 2px;
    background-color: white;
    top: 120px;
    position: absolute;
    z-index: 3;
}
.buttonPic{
    width: 0;
    height: 0;
    position: absolute;
}
nav ul{  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav a li{
    color: white;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-decoration: none;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
nav a{
    color:white;
    text-align: center;
    padding: 4px 0;
    text-decoration: none;
}
nav .icon{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
nav .icon{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
ul.topnav{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-image: url(Images/handshake.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
ul.topnav a{
    display: none;
    color: white;
    text-align: center;
    width: 150px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 10px;
}
ul.topnav li.icon:hover{
    background-color: #707a8c;
}
ul.topnav li.icon a{
    display: inline-block;
    width: 50px;
}
ul.topnav li.icon{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
ul.topnav.responsive{       
    position: relative;
    padding-top: 125px;
    background-image: url(Images/handshake.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
}
ul.topnav.responsive li.icon{
    position: absolute;
    top:0;
    right:0;
}
ul.topnav.responsive li{
    float: none;
    display: inline;
    position: relative;
    height: 35px;
}
ul.topnav.responsive a{
    display: block;
    width: 100%;
}
ul.topnav.responsive li.icon{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.clearfix{
    clear: both;
}
/*-----LOGO-----*/
.logo{
    background: url(Images/ENTRYTransparent.png);
    background-size: 100% 100%;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 15px;
    z-index: 15;
    border-radius: 50%;
}
.logo:hover{
    background: url(Images/ENTRY2transparent.png);
    background-size: 100% 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
/*-----BUTTONS-----*/
#jobOpeningsButton, #resumeAndFormsButton, #interviewButton{
    background: none;
}
/*-----BODY-----*/
#home{
    margin-top: 0;
}
/*-----TITLE-----*/
.title{
    height: 100vh;
    width: 100%;
    left: 0;
    color: white;
    background-color: #28b8f4;
}
.titleImage{
    width: 100%;
    height: 95vh;
    text-align: center;
    background-image: url(Images/handshake.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.titleText{
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    top: 30%;
    height: 50vh;
    font-size: 18px;
}
@keyFrames name{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{  
        opacity: 1;
    }
}
.name{
    opacity: 0; 
    display: inline-block;
    font-size: 48px;
    text-shadow: 2px 2px 2px grey;
}
.name1{
    -webkit-animation: name 1s;
    animation: name 1s;   
    -webkit-animation-fill-mode: forwards;   
    animation-fill-mode: forwards;
}
.name2{
    -webkit-animation: name 1s 0.5s;
    animation: name 1s 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.name3{
    -webkit-animation: name 1s 1s;
    animation: name 1s 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.name4{
    -webkit-animation: name 1s 1.5s;
    animation: name 1s 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.name5{
    -webkit-animation: name 1s 2s;
    animation: name 1s 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.startButton{
    border: solid white 1px;
    display: block;
    font-size: 22px;
    width: 175px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 10vh;
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.startButton:hover{
    cursor: pointer;
    background-color: white;
    color: transparent;
}
.startButton p{
    background: url(Images/handshake.jpeg);
    -webkit-background-clip: text;
}
    /*-----CONTENT-----*/
.content ul{
    list-style-type: none;
    line-height: 24px;
}
.content ol{
    line-height: 24px;
}
.content h3{
    font-size: 22px;
}
.content p{
    font-size: 18px;
}
.content a{
    text-decoration: none;
    color: #28b8f4;
}
.content a:hover{
    color: #4286f4;
}
.jobOpenings{
    height: 3150px;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 0;
    left: 0;
    padding: 10px;
}
.resumeAndForms{
    height: 4300px;
    width: 100%;
    left: 0;
    padding: 10px;
}
.interview{
    height: 1600px;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 0;
    left: 0;
    padding: 10px;
}
.sources{
    width: 100%;
    left: 0;
    padding: 10px;
}
.content h1{
    padding: 5px;
    text-align: center;
}
.content hr{
    width: 80%;
}
.navigate{
    position: absolute;
    height: 125px;
    /*border: solid black 1px;*/
    width: 100%;
    margin-bottom: 0;
    bottom: 0;
    z-index: -1;
}
#resumeAndForms{
    position: relative;
    background-color: #f8f8f8;
}
#interview{
    position: relative;
}
iframe{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer{
    height: 200px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: gray;
    text-align: center;
    padding: 5px;
    color: white;
}


/*-----MEDIA QUERY-----*/
            
/*Default sizes for small screens (tablets, 768px to 991px)*/
@media (min-width: 738px) {
    .logo{
        background: url(Images/ENTRYTransparent.png);
        background-size: 100% 100%;
        position: absolute;
        width: 125px;
        height: 125px;
        margin-left: 30px;
        top: 15px;
        z-index: 15;
        border-radius: 50%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .logo:hover{
        background: url(Images/ENTRY2transparent.png);
        background-size: 100% 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .name{
        opacity: 0; 
        display: inline-block;
        font-size: 64px;
        text-shadow: 2px 2px 2px grey;
    }
    nav{
        height: 150px;
    }
    .navButton{
        display: block;
        position: relative;
        width: 110px;
        height: 110px;
        left: 250px;
        margin-top: 5px;
        margin-right: 75px;
        list-style: none;
        float: left;
        white-space: nowrap;
    }
    .navigate{
        height: 150px;
    }
    .buttonPic{
        width: 75px;
        height: 75px;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0); 
        -webkit-transition: all 0.5s; 
        transition: all 0.5s;
    }
    .navbarLine{
        left: 165px;
        height: 2px;
        background-color: white;
        top: 115px;
        position: absolute;
        z-index: 0;
    }
    nav ul{  
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    nav li{
        color: white;
        position: absolute;
        margin-top: 85px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        text-decoration: none;
    }
    nav li:hover{
        background-color: transparent;
    }
    nav li a{
        display: block;
        color:white;
        text-align: center;
        padding: 4px 0;
        width:150px;
        text-decoration: none;
    }
    nav .icon{
        display: none;
    }
    nav span:before, .nav span:after {
        display: none;
    }
    nav span:before{
        display: none;
    }
    nav span:after {
        display: none;
    }
    nav span:hover:before { 
        display: none;
    }
    nav span:hover:after {
        display: none;
    }
    #jobOpeningsButton{
        background: url(Images/HiringSign.png);
        background-size: 100% 100%;
    }
    #resumeAndFormsButton{
        background: url(Images/Writing.png);
        background-size: 100% 100%;
    }
    #interviewButton{
        background: url(Images/Interview.png);
        background-size: 100% 100%;
    }
    .titleText{
        font-size: 24px;
    }
    .jobOpenings{
        height: 2500px;
    }
    .resumeAndForms{
        height: 2950px;
        width: 100%;
        left: 0;
    }
    .interview{
        height: 1300px;
        width: 100%;
        background-color: #f8f8f8;
        z-index: 0;
        left: 0;
    }
    ul.topnav li.icon{
        display: hidden;
    }
    ul.topnav a {
        display: inherit;
        padding: 0;
    }
    ul.topnav li:hover{
        background-color: transparent;
    }
}
            
/*Default sizes for medium screens (small desktops, 992px to 1199px)*/
@media (min-width: 992px) {
    .jobOpenings{
        height: 2300px;
    }
    .resumeAndForms{
        height: 2550px;
    }
    .interview{
        height: 1200px;
    }
}
            
/*Default sizes for large screens (large desktops, over 1200px)*/
@media (min-width: 1200px) {
    .jobOpenings{
        height: 2250px;
    }
    .resumeAndForms{
        height: 2400px;
        width: 100%;
        left: 0;
    }
    .interview{
        height: 1200px;
        width: 100%;
        background-color: #f8f8f8;
        z-index: 0;
        left: 0;
    }   
}
    @media (min-width: 1800px) {
    .jobOpenings{
        height: 2250px;
    }
    .resumeAndForms{
        height: 2100px;
        width: 100%;
        left: 0;
    }
    .interview{
        height: 1100px;
        width: 100%;
        background-color: #f8f8f8;
        z-index: 0;
        left: 0;
    }   
}